<li>
  {{ structure.type }}
  {% if structure.definition %}
    - 
    {% for def in structure.definition %}
      <a href="{{ url_for('leaderboard.show_leaderboard', definition_name=def) }}" class="external-link">
        {{ def }}
      </a>
      {% if not loop.last %}, {% endif %}
    {% endfor %}
  {% endif %}

  {% if structure.children %}
    <ul>
      {% for child in structure.children %}
        {% set structure = child %}
        {% include "components/model_component_list.html" %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
